/**
 * Convert flexible spaces to separators in the menu bar (inspired on https://github.com/Aris-t2/CustomCSSforFx/blob/master/classic/css/generalui/flex_space_on_navbar_replace_with_separator.css).
 * @author Darathor
 */

#main-window:not([customizing]) #toolbar-menubar toolbarspring {
  -moz-appearance: separator !important;
  min-width: 1px !important;
  max-width: 1px !important;
  -moz-margin-start: 1px !important;
}